.Navbar{
    padding: 0.4rem 4rem;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.7rem;
    height: 5rem;
    border-bottom: solid 0.2rem black;
    text-decoration: none;
}

.NavbarLeft{
    flex : 0.4;
    font-size: 4rem;
    font-weight: bold;
    font-family: monospace;
    color: grey
}
.NavbarLeft:active,
.NavbarLeft:hover{
    
    filter: drop-shadow(16px 16px 10px darkgrey);
}

.NavbarRight{
    flex : 0.6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem; 
    font-family: sans-serif;
    font-weight: bolder;
    color: white; 
}

.Logo{
    font-size: 2.5rem;
    font-family: monospace;
    font-weight: bolder ;
    text-align: center;
}

.Links{
   padding: 0.3rem 1.5rem;
   background-color: darkgrey;
   border-radius: 0.9rem;
   text-decoration: none;
   width: 9rem;
   text-align: center;
}

.Links:active,
.Links:hover{
    
    filter: hue-rotate(90deg);
    filter: drop-shadow(16px 16px 10px lightblue);
    background-color:aqua
}